extends layout

block content

  // fields NOT to be displayed
  - var skipFields = ['attributes','isdeleted','setexternalid'];
  h1= title
    span #{data[1].get('Name')}
  p Please post a message here to the Bilbao dev group Spring 16 release meetup.
    This form posts to a generic streaming API channel. The message will be viewed
    at the meetup tonight. Thanks!
  form#formPostMessage(method="post",action="/postmessage")
    div.panel.panel-default
      div
        input#inputNoteMessage.form-control(type="text", placeholder="Message to Post", name="postmessage")
      div
        input#inputNoteChannel.form-control(type="hidden", name="postchannel" value="#{data[1].getId()}")
    button#btnSubmit.btn.btn-default(type="submit") Post Message

  p For more about durable streaming, be sure to check out the Spring 16&nbsp;
    a(href="https://releasenotes.docs.salesforce.com/en-us/spring16/release-notes/rn_api_streaming.htm") release notes.
  //ul
    //each val, key in data[1]._fields
      //- if (skipFields.indexOf(key) == -1)
        //li #{key}: #{val}
